.fonts {
  font-family: "Archivo Black", sans-serif;
}
.topContainer {
  border: 10px ridge rgb(255, 255, 255);
  background-color: #0065bd;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-size: 32px;
}
.midContainer {
  display: flex; /* Arranges the cards in a row */
  justify-content: center; /* Centers the cards horizontally */
  align-items: flex-start; /* Lines them up at the top */
  gap: 20px; /* Adds a 20px space between the two cards */
  padding: 20px; /* Adds some space around the group of cards */
}
.midCard img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  max-width: 200px;
  margin: 20px auto;
}
.navRight {
  float: right;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(13, 36, 189);
  background-image: linear-gradient(
    to top right,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}
.navCenter {
  float: center;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(13, 36, 189);
  background-image: linear-gradient(
    to top right,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px 15px;
  cursor: pointer;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
}
