* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents horizontal scroll */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.topContainer {
  background-color: #0065bd;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.midContainer {
  display: flex; /* Arranges the cards in a row */
  justify-content: center; /* Centers the cards horizontally */
  align-items: flex-start; /* Lines them up at the top */
  overflow: hidden;
  max-width: 100vw;
  gap: 20px; /* Adds a 20px space between the two cards */
  padding: 20px 0; /* Adds some space around the group of cards */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.midCard {
  flex: 0 0 calc(100% / 4); /* matches cardsPerPage = 4 in JS */
  box-sizing: border-box;
  text-align: center;
  font-family: arial;
}
.midCard img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cardTrack {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease; /* smooth sliding */
  justify-content: flex-start;
  margin: 0 60px;
}

.navRight {
  float: right;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(137, 140, 164);
  background-image: linear-gradient(
    to top right,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow: inset 2px 2px 3px rgba(169, 166, 166, 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}
.navCenter {
  float: center;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(13, 36, 189);
  background-image: linear-gradient(
    to top right,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
}
